<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action='/movies' method='post' enctype="multipart/form-data"> 
  <input type='text' placeholder='title' name='title'>
  <br>
  <input type='text' placeholder='beskrivning' name='description'>
  <br>
  <input type='text' placeholder='år' name='year'>
  <br>
  <input type="file" placeholder='bild' name='image' accept='image/*'>
  <br>
  <button type='submit'>Spara</button>
</form> 
</body>
</html>