<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <% if @user %>
  <form action='/movies' method='post' enctype="multipart/form-data"> 
    <input type='text' placeholder='title' name='title'>
    <br>
    <input type='text' placeholder='beskrivning' name='description'>
    <br>
    <input type='text' placeholder='år' name='year'>
    <br>
    <% @all_geaneras.each do |item| %>
      <input type="checkbox" name="geanera_id[]" value="<%= item['id'] %>"> <%= item['geanera_name'] %><br>
    <% end %>
    <br>
    <select id="actorSelector">
      <% @all_cast.each do |actor| %>
        <option value="<%= h(actor['id']) %>"><%= h(actor['name']) %></option>
      <% end %>
    </select>
    <button type="button" onclick="addActor()">Add Actor</button>
    <br>
    <ul id="selectedActor"></ul>
    <input type="hidden" name="selectedActor" id="selectedActorInput" value="">
    <p>cant fid actor in list?</p>
    <a href="/actors/new" class="button">Add new actors</a>
    <br>
    <br>
    <input type="file" placeholder='bild' name='image' accept='image/*'>
    <br>
    <button type='submit'>Spara</button>
  </form> 
  <% else %>
    <h1>You do not have acces to this page</h1>
    <h2>sign up or log in to accses</h2>
    <ul>
      <% if @user %>
        <form action="/logout" method="post">
          <li><button type="submit">Logout</button></li>
        </form>
      <% else %>
        <li><button><a href="/login">login</a></button></li>
        <li><button><a href="/register">register</a></button></li>
      <% end %>
       
<% end %>
</body>
<script>
  function addActor() {
    var select = document.getElementById("actorSelector");
    var selectedOption = select.options[select.selectedIndex];
    var selectedActorList = document.getElementById("selectedActor");
    var hiddenInput = document.getElementById("selectedActorInput");

    var actors = document.querySelectorAll("#selectedActor li");
    for (var i = 0; i < actors.length; i++) {
      if (actors[i].textContent === selectedOption.text) {
        return;
      }
    }

    var listItem = document.createElement("li");
    listItem.textContent = selectedOption.text;
    var hiddenField = document.createElement("input");
    hiddenField.type = "hidden";
    hiddenField.name = "actors[]";
    hiddenField.value = selectedOption.value;

    var deleteButton = document.createElement("button");
    deleteButton.textContent = "X";
    deleteButton.onclick = function() {
      listItem.remove();
      hiddenField.remove();
    };

    listItem.appendChild(deleteButton);
    selectedActorList.appendChild(listItem);
    hiddenInput.appendChild(hiddenField);
  }
</script>
</html>
